{% extends 'layout.html'%}
{% block head %}
    <title>/About</title>
{% endblock %}

{% block body %}
    <h1>@matéoPANNETIER</h1>

    <div class="gridAbout">
        <div class="text">
            <p>I'm currently studying network and telecommunications in France with an apprenticeship in the IT department of an international health school.
                In my free time, I enjoy exploring and developing new projects, and I'm also interested in <a class="highlight" style="text-decoration: underline;" href="/photos">photography</a>.
            </p>
            <ul class="link-list">
                <li>> <a class="highlight" target="_blank" href="https://www.linkedin.com/in/mat%C3%A9o-pannetier-2721312a6/">linkedin</a></li>
                <li>> <a class="highlight" target="_blank" href="https://github.com/Kamoui9">github</a></li>
                <li>> <a class="highlight" target="_blank" href="mailto:mateo@pannetier.dev">mateo@pannetier.dev</a></li>
            </ul>
        </div>
        <div class="pp">
            <img src="static/img/pp.JPEG" alt="Jhon Doe">
            <i>Figure 1 : Jhon Doe</i>
        </div>
    </div>

{% endblock %}