{% extends 'layout.html'%}
{% block head %}
    <title>/Photos</title>
{% endblock %}

{% block body %}
    <h1>Photos</h1>
    <p> 
        Photos I've taken during vacations or at random events, edited with Lightroom Mobile or GIMP, and published on Instagram.
    </p>
    <ul>
        <li>> iPhone XS</li>
        <li>> Nikon d5300</li>
        <li>> 18-140 mm</li>
    </ul>
    <div class="gallery">
        <img class="div0"src="static\img\rueroute.JPEG" alt="">
        <img class="div1"src="static\img\bmw.JPEG" alt="">
        <img class="div2"src="static\img\batiment.JPEG" alt="">
        <img class="div3"src="static\img\fenetre.JPEG" alt="">
        <img class="div4"src="static\img\fleur.JPEG" alt="">
        <img class="div5"src="static\img\roseNoir.JPEG" alt="">
    </div>
{% endblock %}